.dart_tool/\nbuild/\n.flutter-plugins-dependencies\n
/.history
/example/.dart_tool
/example/.dart_tool
/.dart_tool
/.dart_tool
/build/ios
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata
/ios/build/ios/XCBuildData
/.dart_tool/hooks_runner/objective_c
